
    {% for data in service_data %}    
    <tr>
        <td class="col-6">{{data.name}}</td>
        <td class="col-6">{{data.price}}</td>
        
        <td class="col p-0">            
            <div 
                class="btn btn-sm"             
                type="button" 
                id="tb-but-edit" 
                hx-post="{% url 'app_service_edit' data.id %}"
                hx-trigger="click"
                hx-target=".page-container"
                hx-swap="outerHTML">
                <i class="bi bi-pencil"></i>
            </div>
        </td>
        <td class="col p-0">
            <button 
                class="btn btn-sm btn-outline-light text-danger"             
                type="button" 
                id="tb-but-del" 
                hx-post="{% url 'app_service_delete' data.id %}"
                hx-trigger="click"
                hx-target=".page-container"
                hx-swap="outerHTML">
                <i class="bi bi-trash3"></i>
            </button>
            
        </td>
    </tr>
    {% endfor %}
