<div class=" mt-3 mb-3 {% if not form %} visually-hidden {% endif %}">
    <div class="shadow p-3 mb-5 bg-body-tertiary col-xl-8 m-auto">
        <form action="" class="form-client" method="POST">
            {% csrf_token %}
            <div class="form-content container">
                <div class="row">
                    <div class="col-4">
                        <label class="form-label-sm" for="spec-fname">Ім'я</label>
                        {{form.f_name}}
                    </div>
                    <div class="col-4">
                        <label class="form-label-sm" for="spec-lname">Прізвище</label>
                        {{form.l_name}}
                    </div>
                    <div class="col-2">
                        <label class="form-label-sm" for="spec-phone">Телефон</label>
                        {{form.phone}}
                    </div>
                </div>

                <div class="hstack gap-3 align-items-end mt-3">
                    
                    <div class="col-4">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-envelope"></i></span>
                            {{form.email}}
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-telegram"></i></span>
                            {{form.telegram}}
                        </div>
                    </div>
                    
                    <div class="btn-group ms-auto" role="group">
                        
                        <button type="button" class="btn btn-success"
                            hx-post="{% url 'app_clients_save' id %}" hx-trigger="click" hx-target=".page-container"
                            hx-swap="outerHTML">Зберегти</button>

                        <button type="button" class="btn btn-warning btn-sm"
                            hx-post="{% url 'app_clients_close' %}" hx-trigger="click" hx-target=".page-container"
                            hx-swap="outerHTML">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    
                    </div>
                </div>
                
            </div>
        </form>
    </div>

    {% if errors %}
    <div class="shadow p-3 mb-5 bg-body-tertiary col-xl-8 m-auto alert-danger" role="alert">        
        {% for message in errors %}
        <span style="color:#dc3545;" class="mx-3"><i class="bi bi-exclamation-triangle-fill"></i></span><span>{{ message }}</span>
        {% endfor %}
    </div>
    {% endif %}
</div>