
    {% for data in spec_data %}
    {% comment %} {% if data.spec_active %} 
    <tr class="table-success">
    {% else %}
    <tr class="table-danger">
    {% endif %} {% endcomment %}
        {% comment %} <th class="num" scope="row"></th> {% endcomment %}
        <td class="col-3">{{data.spec_fname|default_if_none:""}}</td>
        <td class="col-3">{{data.spec_lname|default_if_none:""}}</td>
        <td class="col-3">{{data.spec_phone|default_if_none:""}}</td>        
        <td class="col-2" style="color:{{data.spec_color}}">{{data.spec_color}}</td>
        
        <td class="col p-0">            
            <div 
                class="btn btn-sm"             
                type="button" 
                id="tb-but-edit" 
                hx-post="{% url 'app_spec_edit' data.id %}"
                hx-trigger="click"
                hx-target=".page-container"
                hx-swap="outerHTML">
                <i class="bi bi-pencil"></i>
            </div>
        </td>
        <td class="col p-0">
            <button 
                class="btn btn-sm btn-outline-light text-danger"             
                type="button" 
                id="tb-but-del" 
                hx-post="{% url 'app_spec_delete' data.id %}"
                hx-trigger="click"
                hx-target=".page-container"
                hx-swap="outerHTML"
                {% if data.call %} disabled {% endif %}>
                <i class="bi bi-trash3"></i>
            </button>
            
        </td>
    </tr>
    {% endfor %}
