<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">

    <link href="{% static 'app_style.css' %}" rel="stylesheet" type="text/css" media="screen">
    
    

    {% if page_css %}
    {% comment %} <link href="{% static 'app_form.css' %}" rel="stylesheet" type="text/css" media="screen"> {% endcomment %}
    <link href="{% static page_css %}" rel="stylesheet" type="text/css" media="screen">
    {% endif %}

    <title>{{title}}</title>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="bi bi-list"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">Planner App</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="{% url 'app_dashboard' %}" class="sidebar-link {{a_dash}}">
                        <i class="bi bi-graph-up"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'app_cale' %}"
                        class="sidebar-link {{a_calendar}}">
                        <i class="bi bi-calendar3"></i>
                        <span>Загальний розклад</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'app_shed' %}"
                        class="sidebar-link {{a_shedule}}">
                        <i class="bi bi-bar-chart-steps"></i>
                        <span>Графік зустрічей</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'app_saloon' %}" class="sidebar-link {{a_saloon}}">
                        <i class="bi bi-houses"></i>
                        <span>Салони</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'app_clients' %}"
                        class="sidebar-link {{a_clients}}">
                        <i class="bi bi-people-fill"></i>
                        <span>Клієнти</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'app_spec' %}" class="sidebar-link {{a_spec}}">
                        <i class="bi bi-person-workspace"></i>
                        <span>Співробітники</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'app_service' %}"
                        class="sidebar-link {{a_service}}">
                        <i class="bi bi-list-columns"></i>
                        <span>Послуги</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link {{a_report}}">
                        <i class="bi bi-file-text "></i>
                        <span>Звіти</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed"
                        data-bs-toggle="collapse" data-bs-target="#warehouse" aria-expanded="false"
                        aria-controls="warehouse">
                        <i class="bi bi-file-text "></i>
                        <span>Склад</span>
                    </a>
                    <ul id="warehouse" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'app_agent' %}" class="sidebar-link">Контрагенти</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Документи</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'app_product' '1' %}" class="sidebar-link">Товари</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'app_product' '2' %}" class="sidebar-link">Матеріали</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed"
                        data-bs-toggle="collapse" data-bs-target="#setting" aria-expanded="false"
                        aria-controls="setting">
                        <i class="bi bi-file-text "></i>
                        <span>Налаштування</span>
                    </a>
                    <ul id="setting" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'app_sh_template' %}" class="sidebar-link">Шаблони розкладів</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Команда</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Bot</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="{% url 'company' %}" class="sidebar-link">
                    <i class="bi bi-arrow-left"></i>
                    <span>Exit</span>
                </a>
            </div>
        </aside>


        <!--    Main page-->
        <div class="main">
            <div class="app-h">
                <div class="page-name">{{page_name}}</div>
                {% if saloon %}
                <div class="page_saloon" style="background-color: {{saloon.sln_color}};">
                    {{saloon.sln_name}}
                </div>
                {% endif %}
            </div>
            {% block body %}
            {% endblock body %}            
        </div>
    </div>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    
    <script src="{% static 'app.js' %}"></script>

    {% if page_js %}
    <script src="{% static page_js %}"></script>
    {% endif %}

</body>

</html>