{% extends "app_template.html" %}

{% block body %}

<div class="container">
    <div class="row mt-1">
        <div class="col-6">
            <div class="menu-search input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>            
                <input class="form-control form-control-sm"  
                        type="search" 
                        name="search" 
                        placeholder="Name or Phone..."
                        hx-get="{% url 'app_clients_filter' %}"
                        hx-trigger="input changed delay:500ms, search"
                        hx-target=".page-container"
                        hx-swap="outerHTML"
                        hx-indicator=".htmx-indicator"
                        {% if query %}
                            value="{{query}}"
                        {% endif %}
                        >
            </div>
        </div>
        <div class="menu-buttons col-6 ">
            <button class="top-button btn btn-sm btn-primary float-end " 
                    type="button" 
                    id="tm-but-add" 
                    hx-post="{% url 'app_clients_add' %}"
                    hx-trigger="click"
                    hx-target=".page-container"
                    hx-swap="outerHTML"
                    ><i class="bi bi-plus"></i></button>
        </div>
    </div>

    {% include 'app_client/app_client_container.html' %}  
</div>

{% endblock body %}