{% extends "main_temp.html"  %}

{% block title %}
Register
{% endblock title %}

{% block body %}
    <div class="container bg-light shadow-md p-5 form-layout">
        <h3>Create acc</h3>
        <h5>Some text</h5>
        <hr>
        <br>
        <form method="post" autocomplete="off" >
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <button type="submit" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4">Create acc</button>
        </form>
        <br>
        <p>У вас є аккаунт?</p>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endblock body %}